@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

body {
  font-family: sans-serif;
  background: #E5E5EA;

}
.content {
  grid-area: content;
  background: url("anotherViewDid.png"), url("Group8.png");
}
.sidebar {
  grid-area: sidebar;
  background: linear-gradient(to right,
    rgba(47, 235, 112, 0.55),
    rgba(23, 142, 229, 0.76));
    justify-content:center;)
}
.footer {
  grid-area: footer;
  background: linear-gradient(to right,
    rgba(47, 235, 112, 0.55),
    rgba(23, 142, 229, 0.76));
    justify-content:center;)

}
.container {
  font-size: 1.5em;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-gap: 40px;
  grid-template-rows: 1fr 800px 1fr;
}

.content,
.sidebar,
.footer{

  padding: 2em;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 2em;
}

nav li a {
  color: black;
  font-weight: 500;
  opacity: 0.5;
  text-decoration: none;
  transition: 0.3s;
}


nav li a:hover {
  opacity: 1;
}

.hero {
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.hero img {
  width: 200px;
}

.hero h1 {
  font-size: 2em;
  font-weight: 300;
  color: #434141;
}
.hero p {
  font-weight: 300;
  line-height: 1.8em;
  color: #98a0ad;
}

.action-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  background: #7CE4A4;
  padding: 0.5em 2em;
  border-radius: 40px;
  margin: 1em 0;
  transition: 0.3s;
}
.action-btn:hover {
  box-shadow: 0 10px 50px rgba(170,172,186,1)
}


footer ul {
  max-width: 640px;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}
footer ul li {
  list-style: none;
  align-self: flex-end;
}
footer ul li a {
  text-decoration: none;
  color: black;
}
svg {
  width: 40%;
}


footer p {
  font-size: 0.8em;
}

@@media (min-width: 1040px) {
  .container {
    grid-template-areas:
      "sidebar content"
      "sidebar footer";
      grid-template-columns: 300px 1fr;
      grid-template-rows: 1fr auto;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sidebar {
    background: linear-gradient(to right,
      rgba(47, 235, 112, 0.55),
      rgba(23, 142, 229, 0.76));
      padding-top: 3em;
  }
.hero {
  text-align: left;
  margin: 2em auto;
}
.hero img {
  width: 250px;
  float: right;
}
.hero h1 {
  font-size: 3em;
}
.hero p {
  width: 60%;
}
footer ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0;
}
svg {
  width: 20%;
}




}
