@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
  box-sizing: border-box;
}

body {
  font-family: Nunito;
  background: #E5E5EA;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

}
.content {
  grid-area: content;

  background: url("anotherViewDid.png"), url("Group8.png");
}
.sidebar {

  width: 100%;
  grid-area: sidebar;
  text-transform: uppercase;
  background: linear-gradient(to right,
    rgba(0, 255, 59, 0.6),
    rgba(47, 235, 112, 0.55),
    rgba(23, 142, 229, 0.76));
  justify-content:center;
  transition: .3s;
}
.footer {
  position: relative;
  grid-area: footer;
  background: linear-gradient(to right,
    rgba(0, 255, 59, 0.6),
    rgba(47, 235, 112, 0.55),
    rgba(23, 142, 229, 0.76));
  justify-content: center;


}
.container {

  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar"
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-gap: 0px;
  grid-template-rows: 80px 1fr 150px;


}
.content {
    font-size: 1.6em;
}
.logo {
  display: none;
}

.hidden {
  display: none;
}

.content,
.sidebar,
.footer{

  padding: 0;


}


  .content {
    font-size: 1.6em;
    padding-top: 20px;

  }
  nav ul {
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav li {
    list-style: none;

  }

  nav li a {
    margin: 20px 1px;
    color: black;
    font-weight: 600;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.5s;
  }


  nav li a:hover {
    opacity: 1;

    color: white;
    transition: 0.5s;
  }
/* .logo {
  padding: 0;
}
nav {
    padding: 8px;
  }
  .logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
  }
  .logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 8px;
    text-decoration: none;
  }
  nav ul {
    float: left;
  }
  nav ul li {
    display: inline-block;
    float: left;
  }
  nav ul li:not(:first-child) {
    margin-left: 48px;
  }
  nav ul li:last-child {
    margin-left: 24px;
  }
  nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600px;
  }

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  opacity: 0;
  transition: all 0.2s ease;
}
.nav-wrapper ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.nav-wrapper ul li {
  display: block;
  float: none;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.nav-wrapper ul li:nth-child(1) a {
  transition-delay: 0.2s;
}
.nav-wrapper ul li:nth-child(2) a {
  transition-delay: 0.3s;
}
.nav-wrapper ul li:nth-child(3) a {
  transition-delay: 0.4s;
}
.nav-wrapper ul li:nth-child(4) a {
  transition-delay: 0.5s;
}
.nav-wrapper ul li:nth-child(5) a {
  transition-delay: 0.6s;
}
.nav-wrapper ul li:nth-child(6) a {
  transition-delay: 0.7s;
}
.nav-wrapper ul li:not(:first-child) {
  margin-left: 0;
}
.nav-wrapper ul li a {
  padding: 10px 24px;
  opacity: 0;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  transform: translateX(-20px);
  transition: all 0.2s ease;
}
.nav-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 9990;
  border-radius: 50%;
}
.nav-btn i {
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 2px;
  margin-left: 14px;
}
.nav-btn i:nth-child(1) {
  margin-top: 16px;
}
.nav-btn i:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}
.nav-btn i:nth-child(3) {
  margin-top: 4px;
}
#nav:checked + .nav-btn {
  transform: rotate(45deg);
}
#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}
*/
/* nav ul {
  margin: 30px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
  list-style: none;

}

nav li a {
  margin: 20px 1px;
  color: black;
  font-weight: 600;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.5s;
}


nav li a:hover {
  opacity: 1;
  background: #8E8E93;
  color: white;
  border-radius: 80px;
  transition: 0.5s;
  box-shadow: 0 10px 50px rgba(170,172,186,1);
}
*/

.hero {
  max-width: 960px;
  height: 100vh;
  margin: auto;
  text-align: center;
  scroll-snap-align: start;

}

.hero img {
  width: 200px;
}

.hero h1 {
  font-size: 2em;
  font-weight: 300;
  color: #434141;
}
.hero p {
  font-weight: 300;
  line-height: 1.8em;
  color: #98a0ad;
}

.action-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  background: #57E98D;
  padding: 0.5em 2em;
  border-radius: 40px;
  margin: 2em;
  transition: 0.3s;
}
.action-btn:hover {
  box-shadow: 0 10px 50px rgba(170,172,186,1)
}
.get-to-know-me {
  max-width: 960px;
  height: 100vh;
  margin: auto;
  padding-top: 5px;
  text-align: center;
  scroll-snap-align: start;
  background: url(Me_GrandCanyon.png);
  background-size: cover;
}
.get-to-know-me-img {
  width: 100%;
  height: 100vh;
  object-fit: fill;

}
.get-to-know-me-text {
  position: relative;
  float: right;
  width: 50%;
  height: 50%;
  text-align: right;
  background-color: white;
  opacity: 0.9;
  margin-top: 20%;
}
.get-to-know-me h2 {

  opacity: 1;
  text-align: center;
font-weight: 300;
line-height: 1.8em;
color: black;
}
.get-to-know-me p {

text-align: left;
  opacity: 1;
font-weight: 300;
line-height: 1.8em;
color: black;
}

.skills {
  max-width: 960px;
  height: 100vh;
  margin: auto;
  padding-top: 5px;
  text-align: center;
  scroll-snap-align: start;
}
.projects {
  max-width: 960px;
  height: 100vh;
  margin: auto;
  padding-top: 5px;
  text-align: center;
  scroll-snap-align: start;
}
.experience {
  max-width: 960px;
  height: 100vh;
  margin: auto;
  padding-top: 5px;
  text-align: center;
  scroll-snap-align: start;
}
.interests {
  max-width: 960px;
  height: 100vh;
  margin: auto;
  padding-top: 5px;
  text-align: center;
  scroll-snap-align: start;
}

.footer-reach {
  margin: 20px;
}

.icon-snapchat {
  fill: #434141;
}
.icon-snapchat:hover {
  fill: yellow;
    transition: 0.3s;
}

.icon-mail {
  fill: #434141;
}
.icon-mail:hover {
  fill: white;
    transition: 0.3s;
}

.icon-messenger {
  fill: #434141;
}
.icon-messenger:hover {
  fill: #3597EC;
    transition: 0.3s;
}
.icon-instagram {
  fill: #434141;
}
.icon-instagram:hover {
  fill: #bc2a8d;
    transition: 0.3s;
}
.icon-github {
  fill: #434141;
}
.icon-github:hover {
  fill: black;
    transition: 0.3s;
}

footer ul {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  margin: 20px 1px;
  opacity: 0.85;
  text-decoration: none;
  color: #434141;
  transition: 0.5s;
}
/*footer ul li a:hover {
  opacity: 1;
  color: black;
  border-radius: 80px;
  transition: 1s;
}
*/
svg {
  width: 100%;
}


footer p {
  font-size: 1em;
}






/*  nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sidebar {
    font-size: 1.3em;
    background: linear-gradient(to top,
      rgba(0, 255, 59, 0.6),
      rgba(47, 235, 112, 0.55),
      rgba(23, 142, 229, 0.76));
      justify-content:center;
      padding-top: 0em;
  }
  .footer {
    background: linear-gradient(to top,
      rgba(0, 255, 59, 0.6),
      rgba(0, 255, 59, 0.52));
      text-align: center;

  }
.hero {
  text-align: left;
  margin-top: 3em
}
.hero img {
  width: 300px;
  float: right;
  align-self: flex-end;
}
.hero h1 {
  font-size: 3em;
  margin: 40px;
}
.hero p {
  font-size: 1.5em;
  margin: 20px;
  margin-left: 80px;
  width: 100%;
}

.action-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  background: #57E98D;
  padding: 1em 2em;
  border-radius: 40px;
  margin-top: 50px;
  margin-left: 150px;
  transition: 0.3s;
}
.action-btn:hover {
  box-shadow: 0 10px 50px rgba(170,172,186,1)
}

footer ul {
  max-width: 960px;
  margin: 1em;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;

}
.footer-mail{
  grid-area: footer-mail;
}
.footer-github{
  grid-area: footer-github;
}
.footer-instagram{
  grid-area: footer-instagram;
}
svg {
  width: 100%;
}

}
*/

/* @media (min-width: 768px) and (max-width: 1024px) {

  .container {

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "sidebar"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-gap: 0px;
    grid-template-rows: 110px 1fr 150px;


  }
  .content {
      font-size: 1.4em;
  }
*/
/* nav {
    padding: 8px;
  }
  .logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
  }
  .logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 8px;
    text-decoration: none;
  }
  nav ul {
    float: left;
  }
  nav ul li {
    display: inline-block;
    float: left;
  }
  nav ul li:not(:first-child) {
    margin-left: 48px;
  }
  nav ul li:last-child {
    margin-left: 24px;
  }
  nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600px;
  }
*/



@media (max-width: 864px) {
  .container {

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "sidebar"
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-gap: 0px;
    grid-template-rows: 70px 1fr 150px;


  }
  .sidebar {
    display: fixed;
  }
  nav {
    padding: 8px;
  }
  nav li a {
    color: black;
    font-weight: 600;
    opacity: 1;
    text-decoration: none;
    transition: 0.3s;
  }


  nav li a:hover {
    color: grey;
    opacity: 0.5;
    transition: 0.3s;
  }


  .logo {
    display: block;
  }

  .logo {
        float: left;
        padding: 8px;
        margin-left: 16px;
        margin-top: 8px;
  }

  .logo a {
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0px;
        text-decoration: none;
  }

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            z-index: -1;
            background: #E5E5EA;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            display: inline-block;
            float: left;

            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: right;
            width: 100%;
            text-align: right;
            margin-right: 40px;
            margin-bottom: 50px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }
      .nav-wrapper ul li:nth-child(5) a {
            transition-delay: 0.6s;
      }
      .nav-wrapper ul li:nth-child(6) a {
            transition-delay: 0.7s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 40px 24px;
            opacity: 0.1;
            color: #000;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }


#nav:checked + .nav-btn {
      background-color: #7E7E7E;


      transform: rotate(45deg);

}

#nav:checked + .nav-btn i {
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 0.97;
}
/* TEXT COLOR */
#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}
/*
.nav-btn:focus ~ .nav-wrapper, .nav-btn:hover {
  transform: translateX(-300px);
}



 .nav-btn-close {
  background: transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav-btn-close::before {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}
.nav-btn-close::after {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}
*/
.hidden {
      display: none;
}
}
