@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

* {
  font-family: Nunito;
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Nunito;
  background: #E5E5EA;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

}
hr {
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
h1 {
  margin: 0;
  height: 50px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);

}
h1 svg {
  width: 50px;
  height: 50px;

}
.content {
  grid-area: content;
  background: url("anotherViewDid.png"), url("Group8.png");
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  text-transform: uppercase;
  background: linear-gradient(to right,
    rgba(0, 255, 59, 0.6),
    rgba(47, 235, 112, 0.55),
    rgba(23, 142, 229, 0.76));
    height: 50px

}

.footer {
  position: relative;
  grid-area: footer;
  background: linear-gradient(to right,
    rgba(0, 255, 59, 0.6),
    rgba(47, 235, 112, 0.55),
    rgba(23, 142, 229, 0.76));
  justify-content: center;


}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "content"
    "footer";
  grid-template-columns: 1fr;
  grid-gap: 0px;
  grid-template-rows: 1fr 200px;
}
.hidden {
  display: none;
}

.content {
  width: 100%;
  font-size: 1em;
}

.logo {
  display: block;
}
.logo {
  float: left;
  padding: 10px;
  margin-left: 10px;
  margin-top: 7px;
}

.logo a {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  text-shadow: 2px 2px 5px #fff;
}
.scroll-line {
  position: fixed;
    display: block;
     height: 2px;
     margin-top: 48px;
     background: linear-gradient(to right,
       rgba(0, 0, 0, 0.8),
       rgba(123, 50, 50, 1),
       rgba(172, 47, 47, 1),
       rgba(229, 0, 0, 1));
     width: 0%;
}
nav {
      width: 100%;
      height: 10px;
      position: static;
      z-index: 1;
}

nav #logo {
      float: left;
      display: block;
}

nav #logo a {

      transition: all 0.7s ease-out;
}

nav #menu {
      float: left;
      left: 50%;
      position: relative;
}

nav #menu li {
      display: inline-block;
      padding: 0px 30px;
      cursor: pointer;
      line-height: 2px;
      position: relative;
      transition: all 0.7s ease-out;
}

nav #menu li a {
      color: black;
}

#toggle {
      position: absolute;
      right: 15px;
      top: 10px;
      z-index: 999;
      width: 25px;
      height: 25px;
      cursor: pointer;
      float: right;
      transition: all 0.7s ease-out;
      visibility: hidden;
      opacity: 0;

}

#toggle .span {
      height: 3px;
      background: black;
      transition: all 0.3s ease-out;
      backface-visibility: hidden;
      margin: 5px auto;
      border-radius: 30%;
}

#toggle.on #one {
      transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
      opacity: 0;
}

#toggle.on #three {
      transform: rotate(-45deg) translateX(8px) translateY(-10px);

}

#resize {
      z-index: 1;
      top: 0px;
      position: absolute;
      background: white;
      width: 100%;
      height: 100vh;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-out;
      display: table;
}

#resize #menu {
      height: 100vh;
      display: table-cell;
      vertical-align: center;
      /* transition: all 0.2s ease; */
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top:50px;
}

#resize #menu li a {
      color: rgba(114, 114, 119, 1);
      text-decoration: none;

}

#resize ul li:nth-child(1) a {
  transition-delay: 0.2s;
}
#resize ul li:nth-child(2) a {
  transition-delay: 0.3s;
}
#resize ul li:nth-child(3) a {
  transition-delay: 0.4s;
}
#resize ul li:nth-child(4) a {
  transition-delay: 0.5s;
}
#resize ul li:nth-child(5) a {
  transition-delay: 0.6s;
}
#resize ul li:nth-child(6) a {
  transition-delay: 0.7s;
}

#resize.active {
      visibility: visible;
      opacity: 0.97;
}
#toggle {
      visibility: visible;
      opacity: 0.9;
      margin-top: 2px;
}

nav #logo {
      margin-left: 18px;
}

#menu a {
      font-weight: 200;
      font-size: 20px;
}

nav #menu {
      display: none;
}

.hero {
  width: 100%;
  height: 100vh;
  text-align: center;

}
.hero img {
  margin-top: 60px;
  width: 150px;
  height: 150px;
}
.hero h1 {
  margin: 15px 0;
  font-size: 2em;
  font-weight: 300;
  color: #434141;
  background-color: rgba(255, 255, 255, 0);
}
.hero p {
  /* margin: 15px 0; */
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.2em;
  margin: 30px 20px;
  margin-bottom: 0;
  color: #434141;
}
.hero p a {
  text-decoration: underline;
}

.action-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  background: #57E98D;
  padding: 0.7em 2em;
  border-radius: 40px;
  margin: 10% 0;
  transition: 0.3s;
}
.action-btn:hover {
  box-shadow: 0 10px 50px rgba(170,172,186,1)
}

.skills {
  width: 100%;
  height: 100vh;

  padding-top: 5px;
  text-align: center;

}
/* .skills h1 {
  margin-top: 60px;
  margin-bottom: 0;
} */
.skills h1 {
  margin: 0;
  height: 50px;
  width: auto;


}
.skills h1 svg {
  width: 50px;
  height: 50px;

}
.skills-diagram img {

  width: 100%;
  height: auto;

  margin: 20px auto;
  float: left;
}
.skills-certificate {
  display: none;
}
.skills h2 {
  margin: 30px auto;
  padding: 0 15px;
  font-size: 1.1em;
  line-height: 1.1em;
}
.experience {
  margin-top: 0px;
  width: 100%;
  height: 130vh;
  padding-top: 5px;
  text-align: center;
}
.experience h1 {
  margin: 0;
  height: 50px;
  width: auto;
}
.experience h1 svg {
  width: 50px;
  height: 50px;
}

button.accordion {
  margin: 2px;
  background: rgba(47, 235, 112, 0.55);
  color: #000;
  cursor: pointer;
  border: 0px;
  padding: 8px;
  width: 90%;
  text-align: left;
  font-size: 15px;
  transition: .4s;
  border-radius: 13px;

}
button:focus {
  outline: none;
}
button.accordion.active, button.accordion:hover {
  background: rgba(23, 142, 229, 0.70);
}


.accordion {
  cursor:pointer;

    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        box-sizing: border-box;
}

.close .panel {
    height:0px;
    transition:height 0.4s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
}
.open .panel {
    width: 80%;
    margin: 0px auto;
    text-align: left;
    line-height: 1.2em;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
        box-sizing: border-box;
}

.open .accordion{
    margin:0px;
    width: 100%;
        -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.open .button {
  padding: 0 auto;
}

.accordion:after {
  position: static;
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.open .accordion:after {
  content: "\2796";
}


.experience li {
  list-style-position: inside;
  list-style-type: circle;
  line-height: 1.2em;
}
.workspace-svg {
  width: 90%;
  height: auto;
  margin: 10px auto;
  /* margin: auto; */
}
.workspace-svg svg {
  display: block;
  max-width: 100%;
  height: auto;
  float: right;
}


.projects {

  width: 100%;
  height: 130vh;
  padding-top: 5px;


}
.projects h1 {
  padding: 0;
  margin: 0;
    text-align: center;
}
.project-text-box {
  text-align: left;
  height: 30%;

}
.project-text-box-content {
  padding: 4% 8%;
}
.project-text-box-content p {
  line-height: 1em;
  color: #616569;
  letter-spacing: .03em;
  font-size: 1em;
}
.image-area1 {
  margin-top: 5px;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.image-area1 img {
  width: 100%;
}
.image-area2 {
  margin-top: 5px;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.image-area2 img {
  width: 100%;
}

.interests {
  margin-top: 140px;
  width: 100%;
  height: 100vh;
  padding-top: 5px;
  text-align: center;
  place-items: center;
  background: url(Me_GrandCanyon.png);
  background-size: cover;
}
.interests h1 {
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.65;
    width: 100%;
}
.interests img {
  display: none;
  margin-top: 0;
  width: 100%;
  height: 100vh;
  object-fit: fill;
}
.interests p {
  margin-top: 200px;
  margin-bottom: 5px;
  padding: 8px;
  width: 90%;
  height: 35%;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  border-radius: 20px;
}
.interests svg {
  margin-top: 5px;
  height: 35px;
  width: auto;
}
/* .get-to-know-me-text {
  position: relative;
  float: right;
  width: 60%;
  height: 35%;
  text-align: center;
  background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
    100%);
  opacity: 0.60;
  border-radius: 40px;
  margin-right: 3%;
  margin-top: 50px;
} */

.footer-reach {
  margin-top: 20px;
  margin-bottom: 10px;
}

.social {
  width: 90%;
  margin: 0 10px 40px 10px;
  position: relative;
}
.credit {

}

.username {
  display: none;
}

.icon-snapchat {
  fill: #434141;
}
.icon-snapchat:hover {
  fill: yellow;
    transition: 0.3s;
}

.icon-mail {
  fill: #434141;
}
.icon-mail:hover {
  fill: white;
    transition: 0.3s;
}

.icon-messenger {
  fill: #434141;
}
.icon-messenger:hover {
  fill: #3597EC;
    transition: 0.3s;
}
.icon-instagram {
  fill: #434141;
}
.icon-instagram:hover {
  fill: #bc2a8d;
    transition: 0.3s;
}
.icon-github {
  fill: #434141;
}
.icon-github:hover {
  fill: black;
    transition: 0.3s;
}

footer ul {
  width: 100%;
  margin: 5px;
  padding: 0;
  text-align: center;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
footer ul li {
  list-style: none;
}
footer ul li a {
  margin: 5px;
  opacity: 0.85;
  text-decoration: none;
  color: #434141;
  transition: 0.5s;
}
footer p {
  text-shadow: 2px 2px 5px #fff;
}
.footer-reach {
  text-shadow: 2px 2px 4px #fff;
}
/* footer ul li a:hover {
  opacity: 1;
  color: black;
  border-radius: 80px;
  transition: 1s;
} */
/* .footer-instagram span:hover {
  background: white;
  color: #bc2a8d;
    transition: 0.3s;
} */

/* svg {
  width: 100%;
} */


@media (max-width : 568px) and (orientation: landscape) {
  .sidebar {
    display: block;
  }
  .logo {
    margin-top: 7px;
  }

  .logo a {
    font-size: 20px;
  }
  #toggle {
  right: 15px;
        top: 10px;
  width: 25px;
        height: 25px;
  }
  #resize #menu li {
  padding: 10px 0;
  font-size: 20px;
        min-height: 20px;
  }
  #resize li:nth-child(1) {
        margin-top:50px;
  }
  #menu a {
        font-weight: 200;
        font-size: 20px;
  }
  .hero {
    font-size: 1.2em;
  }

  .hero img {
    width: 100px;
    height: 100px;
  }
  .hero h1 {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: 300;
  }
  .hero p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 15px;
  }

  .action-btn {
    display: none;
  }
  .skills h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .skills h1 svg {
    width: 40px;
    height: 40px;

  }
  .skills-diagram img {
    display: block;
    width: 50%;
    height: auto;

    margin: 20px auto;
    float: left;
  }
  .skills-certificate {
    display: none;
  }
  .skills h2 {
    display: inline-inline-block;
    margin: 30px auto;
    padding: 0 15px;
    font-size: 1.1em;
    line-height: 1.1em;
  }
  .experience {
    font-size: 1em;
    margin-top: 0px;
    padding-top: 5px;
  }
  .experience h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .experience h1 svg {
    width: 40px;
    height: 40px;
  }
  button.accordion {
    width: 90%;
    font-size: 0.8em;
    border-radius: 10px;
  }
  .accordion:after {
    font-size: 0.8em;
  }
  .open .panel {
    font-size: 0.8em;
  }
  .workspace-svg {
    width: 40%;
    height: auto;
    margin: 10px auto;
  }
  .workspace-svg svg {
    display: block;
    max-width: 50%%;
    height: auto;
    float: right;
  }
  .clip-warning {
    display: none;
  }
  .projects {
    padding: 0;
    height: 170vh;
  }
  .projects h1 {
    margin: 0;
    height: 40px;
  }
  .image-divider {
    width: 100%
  }
  .right h3 {
    display: inline-inline-block;
    text-align: right;
  }
  .image-area {
    margin: 0;
    width: 50%;
  }
  .image-area img {
    margin: 0;
    width: 100%;
  }
  .image-area1 {
    display: inline;
    margin-top: 5px;
    height: auto;
    width: 50%;
    overflow: hidden;
  }
  .image-area1 img {

    margin: 10px auto;
    width: 55%;
    float: left;
  }
  .image-area2 {
    display: inline;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    margin: 20px auto;
    width: 55%;
    float: right;
  }
  .projects h1 svg {
    width: 40px;
    height: 40px;
  }
  .project-text-box {
    display: inline;
    width: 50%;
    height: 30%;
  }
  .project-text-box1 {
    display: inline-inline-block;
    float: right;
    width: 40%;
    height: 30%;
    margin: 50px 10px 10px 10px;
    font-size: 1.1em;
  }
  .project-text-box2 {
    display: inline-inline-block;
    float: left;
    width: 40%;
    height: 30%;
    margin: 50px 10px 10px 10px;
    font-size: 1.1em;
  }
  .project-text-box3 {
    display: inline-block;
    width: 80%;
    height: 30%;
    margin: 20px;
    font-size: 1.1em;
  }
  .project-text-box3 {
    text-align: left;
  }

  .project-text-box-content {
    padding: 0;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .interests {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    text-align: center;

    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 0px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    float: right;
    margin-top: 75px;
    padding: 8px;
    width: 55%;
    height: 35%;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 30px;
    width: auto;
  }
  .footer-reach {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .social {
    width: 90%;
    margin: 20px auto;
    position: relative;
  }
  .credit {

  }

  .username {
    display: block;
  }

}

@media (min-width: 374px) and (max-width : 413px) {
  hr {
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  h1 {
    margin: 0;
    height: 50px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);

  }
  h1 svg {
    width: 50px;
    height: 50px;

  }
  .content {

  }
  .container {
    background: url("anotherViewDid.png"), url("Group8.png");
    object-fit: fill;
    grid-template-rows: 1fr 200px;
  }
  .sidebar {
    height: 60px;
  }
  .scroll-line {
       margin-top: 58px;
  }
  .logo {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .logo a {
    font-size: 25px;
  }
  #toggle {
  right: 15px;
        top: 12px;
  width: 25px;
        height: 25px;
  }
  #resize #menu li {
  padding: 10px 0;
  font-size: 50px;
        min-height: 50px;
  }
  #resize li:nth-child(1) {
        margin-top:80px;
  }
  #menu a {
        font-weight: 200;
        font-size: 30px;
  }
  .hero img {
    margin-top: 80px;
    width: 180px;
    height: 180px;
  }
  .hero h1 {
    margin: 10px 0;
    font-size: 2.2em;
    font-weight: 300;
    color: #434141;
    background-color: rgba(255, 255, 255, 0);
  }
  .hero p {
    /* margin: 15px 0; */
    font-size: 1.6em;
    font-weight: 200;
    line-height: 1.3em;
    margin: 20px 20px;
    margin-bottom: 0;
    color: #434141;
  }
  .skills h1 {
    margin: 0;
    height: 50px;
    width: auto;


  }
  .skills h1 svg {
    width: 50px;
    height: 50px;

  }
  .skills-diagram img {

    width: 100%;
    height: auto;

    margin: 20px auto;
    float: left;
  }
  .skills h2 {
    margin: 30px auto;
    padding: 0 15px;
    font-size: 1.3em;
    line-height: 1.1em;
  }
  .experience {
    margin-top: 0px;
    width: 100%;
    height: 120vh;
    padding-top: 5px;
    text-align: center;
  }
  .experience h1 {
    margin: 0;
    height: 50px;
    width: auto;
  }
  .experience h1 svg {
    width: 50px;
    height: 50px;
  }
  button.accordion {
    font-size: 17px;
  }
  .experience li {
  line-height: 1.2em;
  }
  .workspace-svg {
    width: 90%;
    height: auto;
    margin: 10px auto;
    /* margin: auto; */
  }
  .workspace-svg svg {
    display: block;
    max-width: 100%;
    height: auto;
    float: right;
  }
  .clip-warning {
    display: none;
  }
  .projects {

    width: 100%;
    height: 130vh;
    padding-top: 5px;


  }
  .projects h1 {
    padding: 0;
    margin: 0;
      text-align: center;
  }
  .project-text-box {
    text-align: left;
    height: 30%;

  }
  .project-text-box-content {
    padding: 4% 8%;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1.2em;
  }
  .project-text-box1 {
    display: inline-inline-block;

    font-size: 1.1em;
  }
  .project-text-box2 {
    font-size: 1.1em;
  }
  .project-text-box3 {
    font-size: 1.1em;
  }
  .image-area1 {
    margin-top: 5px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area1 img {
    width: 100%;
  }
  .image-area2 {
    margin-top: 5px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    width: 100%;
  }
  .interests {
    margin-top: 220px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    text-align: center;

    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 60px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    margin-top: 280px;
    margin-bottom: 5px;
    padding: 8px;
    width: 90%;
    height: 35%;
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 35px;
    width: auto;
  }
  .footer-reach {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .social {
    width: 90%;
    margin: 0 10px 40px 10px;
    position: relative;
  }
  .username {
    display: none;
  }
}

@media (min-width : 569px) and (max-width : 667px) and (orientation: landscape) {
  .sidebar {
    display: block;
    height: 50px;
  }
  .scroll-line {
       margin-top: 48px;
  }
  .logo {
    margin-top: 6px;
  }
  .logo a {
    font-size: 1.3em;
  }
  #toggle {
  right: 15px;
        top: 12px;
  width: 25px;
        height: 25px;
  }
  #resize #menu li {
  padding: 10px 0;
  font-size: 25px;
        min-height: 25px;
  }
  #resize li:nth-child(1) {
        margin-top: 60px;
  }
  #menu a {
        font-weight: 200;
        font-size: 25px;
  }
  .hero {
    font-size: 1.4em;
  }

  .hero img {
    width: 150px;
    height: 150px;
  }
  .hero h1 {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: 300;
  }
  .hero p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 15px;
  }

  .action-btn {
    display: none;
  }

  .skills h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .skills h1 svg {
    width: 40px;
    height: 40px;

  }
  .skills-diagram img {
    display: block;
    width: 50%;
    height: auto;
    margin: 20px auto;
    float: left;
  }
  .skills-certificate {
    display: none;
  }
  .skills h2 {
    display: inline-inline-block;
    margin: 30px auto;
    padding: 0 15px;
    font-size: 1.4em;
    line-height: 1.1em;
  }
  .experience {
    font-size: 1em;
    margin-top: 0px;
    padding-top: 5px;
  }
  .experience h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .experience h1 svg {
    width: 40px;
    height: 40px;
  }
  button.accordion {
    width: 90%;
    font-size: 1em;
    border-radius: 10px;
  }
  .accordion:after {
    font-size: 0.8em;
  }
  .open .panel {
    font-size: 0.8em;
  }
  .workspace-svg {
    width: 40%;
    height: auto;
    margin: 10px auto;
  }
  .workspace-svg svg {
    display: block;
    max-width: 50%%;
    height: auto;
    float: right;
  }
  .clip-warning {
    display: none;
  }
  .projects {
    padding: 0;
    height: 170vh;
  }
  .projects h1 {
    margin: 0;
    height: 40px;
  }
  .image-divider {
    width: 100%
  }
  .right h3 {
    display: inline-inline-block;
    text-align: right;
  }
  .image-area {
    margin: 0;
    width: 50%;
  }
  .image-area img {
    margin: 0;
    width: 100%;
  }
  .image-area1 {
    display: inline;
    margin-top: 5px;
    height: auto;
    width: 50%;
    overflow: hidden;
  }
  .image-area1 img {

    margin: 10px auto;
    width: 55%;
    float: left;
  }
  .image-area2 {
    display: inline;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    margin: 20px auto;
    width: 55%;
    float: right;
  }
  .projects h1 svg {
    width: 40px;
    height: 40px;
  }
  .project-text-box {
    display: inline;
    width: 50%;
    height: 30%;
  }
  .project-text-box1 {
    display: inline-inline-block;
    float: right;
    width: 40%;
    height: 30%;
    margin: 50px 10px 10px 10px;
    font-size: 1.1em;
  }
  .project-text-box2 {
    display: inline-inline-block;
    float: left;
    width: 40%;
    height: 30%;
    margin: 50px 10px 10px 10px;
    font-size: 1.1em;
  }
  .project-text-box3 {
    display: inline-block;
    width: 80%;
    height: 30%;
    margin: 20px;
    font-size: 1.1em;
  }
  .project-text-box3 {
    text-align: left;
  }

  .project-text-box-content {
    padding: 0;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .interests {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    text-align: center;

    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 0px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    float: right;
    margin-top: 120px;
    padding: 8px;
    width: 55%;
    height: 35%;
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 30px;
    width: auto;
  }
  .footer-reach {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .social {
    width: 90%;
    margin: 20px auto;
    position: relative;
  }
  .credit {

  }

  .username {
    display: block;
  }

}

@media (min-width: 414px) and (max-width : 480px) {

  .container {
    background: url("anotherViewDid.png"), url("Group8.png");
    object-fit: fill;
    grid-template-rows: 1fr 200px;
  }
  .sidebar {
    height: 65px;
  }
  .scroll-line {
       margin-top: 63px;
  }
  .logo {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .logo a {
    font-size: 30px;
  }
  #toggle {
  right: 18px;
        top: 18px;
  width: 35px;
        height: 35px;
  }
  #resize #menu li {
  padding: 30px 0;
  font-size: 40px;
        min-height: 40px;
        line-height: 15px;
  }
  #resize li:nth-child(1) {
        margin-top: 120px;
  }
  #menu a {
        font-weight: 300;
        font-size: 40px;
  }
  .hero img {
    margin-top: 80px;
    width: 200px;
    height: 200px;
  }
  .hero h1 {
    margin: 10px 0;
    font-size: 2.5em;
  }
  .hero p {
    /* margin: 15px 0; */
    font-size: 1.9em;
    font-weight: 200;
    line-height: 1.3em;
    margin: 20px 20px;
    margin-bottom: 0;
    color: #434141;
  }
  .action-btn {
    font-weight: 600;
    font-size: 1.5em;
  }
  .skills h1 {
    margin: 0;
    height: 60px;
    width: auto;
  }
  .skills h1 svg {
    width: 60px;
    height: 60px;

  }
  .skills-diagram img {
    width: 100%;
    height: auto;
    margin: 20px auto;
    float: left;
  }
  .skills h2 {
    margin: 30px auto;
    padding: 0 15px;
    font-size: 1.55em;
    line-height: 1.1em;
  }
  .experience {
    margin-top: 0px;
    width: 100%;
    height: 120vh;
    padding-top: 5px;
    text-align: center;
  }
  .experience h1 {
    margin: 0;
    height: 50px;
    width: auto;
  }
  .experience h1 svg {
    width: 50px;
    height: 50px;
  }
  button.accordion {
    font-size: 17px;
  }
  .experience li {
  line-height: 1.2em;
  }
  .workspace-svg {

    width: 90%;
    height: auto;
    margin: 10px auto;
    /* margin: auto; */
  }
  .workspace-svg svg {
    display: block;
    max-width: 100%;
    height: auto;
    float: right;
  }
  .clip-warning {
    display: none;
  }
  .projects {

    width: 100%;
    height: 130vh;
    padding-top: 5px;


  }
  .projects h1 {
    padding: 0;
    margin: 0;
      text-align: center;
  }
  .project-text-box {
    text-align: left;
    height: 30%;

  }
  .project-text-box-content {
    padding: 4% 8%;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1.2em;
  }
  .project-text-box1 {
    display: inline-inline-block;

    font-size: 1.1em;
  }
  .project-text-box2 {
    font-size: 1.1em;
  }
  .project-text-box3 {
    font-size: 1.1em;
  }
  .image-area1 {
    margin-top: 5px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area1 img {
    width: 100%;
  }
  .image-area2 {
    margin-top: 5px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    width: 100%;
  }
  .interests {
    margin-top: 110px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    text-align: center;

    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 60px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    margin-top: 75%;
    padding: 8px;
    width: 90%;
    height: 50%;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 35px;
    width: auto;
  }
  .footer-reach {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .social {
    width: 90%;
    margin: 0 10px 40px 10px;
    position: relative;
  }
  .username {
    display: none;
  }
}

@media (min-width : 668px) and (max-width : 736px) and (orientation: landscape) {
  .sidebar {
    display: block;
    height: 50px;
  }
  .scroll-line {
       margin-top: 48px;
  }
  .logo {
    margin-top: 6px;
  }
  .logo a {
    font-size: 1.3em;
  }
  #toggle {
  right: 15px;
        top: 12px;
  width: 25px;
        height: 25px;
  }
  #resize #menu li {
  padding: 15px 0;
  font-size: 25px;
        min-height: 25px;
  }
  #resize li:nth-child(1) {
        margin-top: 55px;
  }
  #menu a {
        font-weight: 200;
        font-size: 25px;
  }
  .hero {
    font-size: 1.4em;
  }

  .hero img {
    width: 150px;
    height: 150px;
  }
  .hero h1 {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: 300;
  }
  .hero p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 15px;
  }

  .action-btn {
    display: none;
  }

  .skills h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .skills h1 svg {
    width: 40px;
    height: 40px;

  }
  .skills-diagram img {
    display: block;
    width: 50%;
    height: auto;
    margin: 20px auto;
    float: left;
  }
  .skills-certificate {
    display: none;
  }
  .skills h2 {
    display: inline-inline-block;
    margin: 30px auto;
    padding: 0 15px;
    font-size: 1.5em;
    line-height: 1.1em;
  }
  .experience {
    font-size: 1em;
    margin-top: 0px;
    padding-top: 5px;
  }
  .experience h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .experience h1 svg {
    width: 40px;
    height: 40px;
  }
  button.accordion {
    width: 90%;
    font-size: 1em;
    border-radius: 10px;
  }
  .accordion:after {
    font-size: 0.9em;
  }
  .open .panel {
    font-size: 0.9em;
  }
  .workspace-svg {
    width: 40%;
    height: auto;
    margin: 10px auto;
  }
  .workspace-svg svg {
    display: block;
    max-width: 50%%;
    height: auto;
    float: right;
  }
  .clip-warning {
    display: none;
  }
  .projects {
    padding: 0;
    height: 170vh;
  }
  .projects h1 {
    margin: 0;
    height: 40px;
  }
  .image-divider {
    width: 100%
  }
  .right h3 {
    display: inline-inline-block;
    text-align: right;
  }
  .image-area {
    margin: 0;
    width: 50%;
  }
  .image-area img {
    margin: 0;
    width: 100%;
  }
  .image-area1 {
    display: inline;
    margin-top: 5px;
    height: auto;
    width: 50%;
    overflow: hidden;
  }
  .image-area1 img {

    margin: 10px auto;
    width: 55%;
    float: left;
  }
  .image-area2 {
    display: inline;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    margin: 20px auto;
    width: 55%;
    float: right;
  }
  .projects h1 svg {
    width: 40px;
    height: 40px;
  }
  .project-text-box {
    display: inline;
    width: 50%;
    height: 30%;
  }
  .project-text-box1 {
    display: inline-inline-block;
    float: right;
    width: 40%;
    height: 30%;
    margin: 50px 10px 10px 10px;
    font-size: 1.3em;
  }
  .project-text-box2 {
    display: inline-inline-block;
    float: left;
    width: 40%;
    height: 30%;
    margin: 50px 10px 10px 10px;
    font-size: 1.3em;
  }
  .project-text-box3 {
    display: inline-block;
    width: 80%;
    height: 30%;
    margin: 20px;
    font-size: 1.3em;
  }
  .project-text-box3 {
    text-align: left;
  }

  .project-text-box-content {
    padding: 0;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .interests {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    text-align: center;

    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 0px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    float: right;
    margin-top: 100px;
    padding: 8px;
    width: 55%;
    height: 35%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 30px;
    width: auto;
  }
  .footer-reach {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .social {
    width: 90%;
    margin: 20px auto;
    position: relative;
  }
  .credit {

  }

  .username {
    display: block;
  }
}

@media (min-width: 481px) and (max-width : 767px) {
}

@media (min-width : 737px) and (max-width : 1243px) and (orientation: landscape) {
  .sidebar {
    display: block;
    height: 50px;
  }
  .scroll-line {
       margin-top: 48px;
  }
  .logo {
    margin-top: 6px;
  }
  .logo a {
    font-size: 1.3em;
  }
  #toggle {
  right: 15px;
        top: 12px;
  width: 25px;
        height: 25px;
  }
  #resize #menu li {
  padding: 10px 0;
  font-size: 25px;
  min-height: 25px;
  }
  #resize li:nth-child(1) {
        margin-top: 55px;
  }
  #menu a {
        font-weight: 200;
        font-size: 25px;
  }
  .hero {
    font-size: 1.4em;
  }

  .hero img {
    width: 150px;
    height: 150px;
  }
  .hero h1 {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: 300;
  }
  .hero p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 15px;
  }

  .action-btn {
    display: none;
  }

  .skills h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .skills h1 svg {
    width: 40px;
    height: 40px;

  }
  .skills-diagram img {
    display: block;
    width: 50%;
    height: auto;
    margin: 20px auto;
    float: left;
  }
  .skills-certificate {
    display: none;
  }
  .skills h2 {
    display: inline-inline-block;
    margin: 30px auto;
    padding: 0 15px;
    font-size: 1.5em;
    line-height: 1.1em;
  }
  .experience {
    font-size: 1em;
    margin-top: 0px;
    padding-top: 5px;
  }
  .experience h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .experience h1 svg {
    width: 40px;
    height: 40px;
  }
  button.accordion {
    width: 90%;
    font-size: 1em;
    border-radius: 10px;
  }
  .accordion:after {
    font-size: 0.9em;
  }
  .open .panel {
    font-size: 0.9em;
  }
  .workspace-svg {
    width: 40%;
    height: auto;
    margin: 10px auto;
  }
  .workspace-svg svg {
    display: block;
    max-width: 50%%;
    height: auto;
    float: right;
  }
  .clip-warning {
    display: none;
  }
  .projects {
    padding: 0;
    height: 170vh;
  }
  .projects h1 {
    margin: 0;
    height: 40px;
  }
  .image-divider {
    width: 100%
  }
  .right h3 {
    display: inline-inline-block;
    text-align: right;
  }
  .image-area {
    margin: 0;
    width: 50%;
  }
  .image-area img {
    margin: 0;
    width: 100%;
  }
  .image-area1 {
    display: inline;
    margin-top: 5px;
    height: auto;
    width: 50%;
    overflow: hidden;
  }
  .image-area1 img {

    margin: 10px auto;
    width: 55%;
    float: left;
  }
  .image-area2 {
    display: inline;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    margin: 20px auto;
    width: 55%;
    float: right;
  }
  .projects h1 svg {
    width: 40px;
    height: 40px;
  }
  .project-text-box {
    display: inline;
    width: 50%;
    height: 30%;
  }
  .project-text-box1 {
    display: inline-inline-block;
    float: right;
    width: 40%;
    height: 30%;
    margin: 50px 10px 10px 10px;
    font-size: 1.3em;
  }
  .project-text-box2 {
    display: inline-inline-block;
    float: left;
    width: 40%;
    height: 30%;
    margin: 50px 10px 10px 10px;
    font-size: 1.3em;
  }
  .project-text-box3 {
    display: inline-block;
    width: 80%;
    height: 30%;
    margin: 20px;
    font-size: 1.3em;
  }
  .project-text-box3 {
    text-align: left;
  }

  .project-text-box-content {
    padding: 0;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .interests {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    text-align: center;

    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 0px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    float: right;
    margin-top: 100px;
    padding: 8px;
    width: 55%;
    height: 35%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 30px;
    width: auto;
  }
  .footer-reach {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .social {
    width: 90%;
    margin: 20px auto;
    position: relative;
  }
  .credit {

  }

  .username {
    display: block;
  }
}

@media (min-width: 1244px) and (max-width : 1367px) {
  .sidebar {
    display: block;
    height: 50px;
  }
  .scroll-line {
       margin-top: 48px;
  }
  .logo {
    margin-top: 6px;
  }
  .logo a {
    font-size: 1.3em;
  }
  .hero {
    font-size: 1.6em;
  }

  .hero img {
    width: 210px;
    height: 210px;
  }
  .hero h1 {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: 300;
  }
  .hero p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 20px 15px;
  }

  .action-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    background: #57E98D;
    padding: 0.7em 2em;
    border-radius: 40px;
    margin: 2% 0;
    transition: 0.3s;
  }

  .skills h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .skills h1 svg {
    width: 40px;
    height: 40px;

  }
  .skills-diagram img {
    display: block;
    width: 50%;
    height: auto;
    margin: 20px 7%;
    float: right;
  }
  .skills-certificate {
    display: block;
    margin: 0px auto;
    padding: 40px;
    width: 35%;
    height: auto;
    float: left;
  }
  .skills-certificate img {
    width: 100%
  }
  .skills h2 {
    width: 60%;
    align-items: center;
    display: block;
    background-color: rgba(111, 111, 111, 0.8);
    color: white;
    opacity: 0.7;
    border-radius: 30px;
    margin: 32% 35%;
    padding: 8px;
    font-size: 1.5em;
    line-height: 1.1em;
  }
  .experience {
    font-size: 1em;
    margin-top: 0px;
    padding-top: 5px;
    height: 115vh;
  }
  .experience h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .experience h1 svg {
    width: 40px;
    height: 40px;
  }
  button.accordion {
    margin-top: 5px;
    width: 90%;
    font-size: 1em;
    border-radius: 10px;
  }
  .accordion:after {
    font-size: 1.2em;
  }
  .open .panel {
    font-size: 1.2em;
    padding: 15px;
  }
  .workspace-svg {
    width: 30%;
    height: auto;
    margin: 50px auto;
  }
  .workspace-svg svg {
    display: block;
    max-width: 100%;
    height: auto;
    float: right;
  }
  .clip-warning {
    display: none;
  }
  .projects {
    padding: 0;
    height: 170vh;
  }
  .projects h1 {
    margin: 0;
    height: 40px;
  }
  .image-divider {
    width: 100%
  }
  .right h3 {
    display: inline-inline-block;
    text-align: right;
  }
  .image-area {
    margin: 0;
    width: 50%;
  }
  .image-area img {
    margin: 0;
    width: 100%;
  }
  .image-area1 {
    display: inline;
    margin-top: 5px;
    height: auto;
    width: 50%;
    overflow: hidden;
  }
  .image-area1 img {

    margin: 10px auto;
    width: 55%;
    float: left;
  }
  .image-area2 {
    display: inline;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    margin: 20px auto;
    width: 55%;
    float: right;
  }
  .projects h1 svg {
    width: 40px;
    height: 40px;
  }
  .project-text-box {
    display: inline;
    width: 50%;
    height: 30%;
  }
  .project-text-box1 {
    display: inline-inline-block;
    float: right;
    width: 40%;
    height: 30%;
    margin: 120px 10px 10px 10px;
    font-size: 1.6em;
  }
  .project-text-box2 {
    display: inline-inline-block;
    float: left;
    width: 40%;
    height: 30%;
    margin: 120px 10px 10px 10px;
    font-size: 1.6em;
  }
  .project-text-box3 {
    display: inline-block;
    width: 80%;
    height: 30%;
    margin: 100px 50px 50px 50px;
    font-size: 1.6em;
  }
  .project-text-box3 {
    text-align: center;
  }

  .project-text-box-content {
    padding: 0;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .interests {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    text-align: center;

    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 0px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    float: right;
    margin-top: 29%;
    margin-right: 5%;
    padding: 8px;
    width: 55%;
    height: 35%;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.4em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 30px;
    width: auto;
  }
  .footer-reach {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .social {
    width: 90%;
    margin: 20px auto;
    position: relative;
  }
  .credit {

  }

  .username {
    display: block;
  }
}


@media (min-width: 1367px) and (max-width : 1650px) {
  .sidebar {
    display: block;
    height: 50px;
  }
  .scroll-line {
       margin-top: 48px;
  }
  .logo {
    margin-top: 6px;
  }
  .logo a {
    font-size: 1.3em;
  }
  .hero {
    font-size: 1.6em;
  }

  .hero img {
    width: 210px;
    height: 210px;
  }
  .hero h1 {
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: 300;
  }
  .hero p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 20px 15px;
  }

  .action-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    background: #57E98D;
    padding: 0.7em 2em;
    border-radius: 40px;
    margin: 2% 0;
    transition: 0.3s;
  }

  .skills h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .skills h1 svg {
    width: 40px;
    height: 40px;

  }
  .skills-diagram img {
    display: block;
    width: 50%;
    height: auto;
    margin: 20px 7%;
    float: right;
  }
  .skills-certificate {
    display: block;
    margin: 0px auto;
    padding: 40px;
    width: 35%;
    height: auto;
    float: left;
  }
  .skills-certificate img {
    width: 100%
  }
  .skills h2 {
    width: 60%;
    align-items: center;
    display: block;
    background-color: rgba(111, 111, 111, 0.8);
    color: white;
    opacity: 0.7;
    border-radius: 30px;
    margin: 32% 35%;
    padding: 8px;
    font-size: 1.5em;
    line-height: 1.1em;
  }
  .experience {
    font-size: 1em;
    margin-top: 0px;
    padding-top: 5px;
    height: 115vh;
  }
  .experience h1 {
    margin: 0;
    height: 40px;
    width: auto;
  }
  .experience h1 svg {
    width: 40px;
    height: 40px;
  }
  button.accordion {
    margin-top: 5px;
    width: 90%;
    font-size: 1em;
    border-radius: 10px;
  }
  .accordion:after {
    font-size: 1.2em;
  }
  .open .panel {
    font-size: 1.2em;
    padding: 15px;
  }
  .workspace-svg {
    width: 30%;
    height: auto;
    margin: 50px auto;
  }
  .workspace-svg svg {
    display: block;
    max-width: 100%;
    height: auto;
    float: right;
  }
  .clip-warning {
    display: none;
  }
  .projects {
    padding: 0;
    height: 170vh;
  }
  .projects h1 {
    margin: 0;
    height: 40px;
  }
  .image-divider {
    width: 100%
  }
  .right h3 {
    display: inline-inline-block;
    text-align: right;
  }
  .image-area {
    margin: 0;
    width: 50%;
  }
  .image-area img {
    margin: 0;
    width: 100%;
  }
  .image-area1 {
    display: inline;
    margin-top: 5px;
    height: auto;
    width: 50%;
    overflow: hidden;
  }
  .image-area1 img {

    margin: 10px auto;
    width: 55%;
    float: left;
  }
  .image-area2 {
    display: inline;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    margin: 20px auto;
    width: 55%;
    float: right;
  }
  .projects h1 svg {
    width: 40px;
    height: 40px;
  }
  .project-text-box {
    display: inline;
    width: 50%;
    height: 30%;
  }
  .project-text-box1 {
    display: inline-inline-block;
    float: right;
    width: 40%;
    height: 30%;
    margin: 120px 10px 10px 10px;
    font-size: 1.6em;
  }
  .project-text-box2 {
    display: inline-inline-block;
    float: left;
    width: 40%;
    height: 30%;
    margin: 120px 10px 10px 10px;
    font-size: 1.6em;
  }
  .project-text-box3 {
    display: inline-block;
    width: 80%;
    height: 30%;
    margin: 100px 50px 50px 50px;
    font-size: 1.6em;
  }
  .project-text-box3 {
    text-align: center;
  }

  .project-text-box-content {
    padding: 0;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .interests {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    padding-top: 5px;
    text-align: center;

    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 0px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    float: right;
    margin-top: 29%;
    margin-right: 5%;
    padding: 8px;
    width: 55%;
    height: 35%;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.4em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 30px;
    width: auto;
  }
  .footer-reach {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .social {
    width: 90%;
    margin: 20px auto;
    position: relative;
  }
  .credit {

  }

  .username {
    display: block;
  }
}
@media (min-width: 1651px) {
  .container {
    grid-template-rows: 1fr 430px;
  }

  hr {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border-width: 2px;
  }
  .sidebar {
    display: block;
    height: 90px;
  }
  .scroll-line {
      height: 4px;
       margin-top: 86px;
  }
  .logo {
    margin-top: 18px;
  }
  .logo a {
    font-size: 2.3em;
    font-weight: 900;
  }
  nav {
  height: 30px;
  }
  nav #menu li {
  padding: 0px 30px;
  line-height: 4px;
  }
  #toggle {
        right: 25px;
        top: 20px;
        width: 50px;
        height: 50px;
  }
  #toggle .span {
  margin: 10px auto;
  height: 5px;
  }

  #resize #menu li {
        padding: 30px 0;
        font-size: 80px;
        min-height: 80px;
  }
  #resize li:nth-child(1) {
        margin-top: 120px;
  }
  #toggle {
        visibility: visible;
        opacity: 0.9;
        margin-top: 2px;
  }
  #toggle.on #one {
        transform: rotate(45deg) translateX(11px) translateY(15px);
  }
  #toggle.on #three {
        transform: rotate(-45deg) translateX(8px) translateY(-10px);

  }
  #menu a {
        font-weight: 200;
        font-size: 80px;
  }
  .hero {
    font-size: 2.5em;
    margin-top: 60px;
  }

  .hero img {
    width: 350px;
    height: 350px;
  }
  .hero h1 {
    margin-top: 5px;

    font-size: 2.3em;
    font-weight: 300;
  }
  .hero p {
    font-size: 1.4em;
    font-weight: 300;
    margin-top: 80px;
  }

  .action-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    background: #57E98D;
    padding: 0.5em 2em;
    border-radius: 40px;
    margin: 3% 0;
    transition: 0.3s;
  }

  .skills h1 {
    margin: 0;
    height: 80px;
    width: auto;
  }
  .skills h1 svg {
    width: 80px;
    height: 80px;

  }
  .skills-diagram img {
    display: block;
    width: 50%;
    height: auto;
    margin: 20px 7%;
    float: right;
  }
  .skills-certificate {
    display: block;
    margin: 0px auto;
    padding: 40px;
    width: 33%;
    height: auto;
    float: left;
  }
  .skills-certificate img {
    width: 100%
  }
  .skills h2 {
    width: 60%;
    align-items: center;
    display: block;
    background-color: rgba(111, 111, 111, 0.7);
    color: white;
    opacity: 0.7;
    border-radius: 30px;
    margin: 32% 36%;
    padding: 8px;
    font-size: 2.3em;
    line-height: 1.1em;
  }
  .experience {
    font-size: 2em;
    margin-top: 0px;
    padding-top: 5px;
    height: 115vh;
  }
  .experience h1 {
    margin: 0;
    height: 80px;
    width: auto;
  }
  .experience h1 svg {
    width: 80px;
    height: 80px;
  }
  .accordionList {
    margin-top: 30px;
  }
  button.accordion {
    margin-top: 5px;
    width: 85%;
    font-size: 1.2em;
    border-radius: 10px;
  }
  .accordion:after {
    font-size: 1.5em;
  }
  .open .panel {
    font-size: 1.2em;
    padding: 15px;
  }
  .workspace-svg {
    width: 30%;
    height: auto;
    margin: 50px 33%;
  }
  .workspace-svg svg {
    width: 1000px;
    height: 1000px;
    display: block;
    max-width: 100%;
    height: auto;
  }
  .clip-warning {
    display: none;
  }
  .projects {
    padding: 0;
    height: 170vh;
  }
  .projects h1 {
    margin: 0;
    height: 80px;
  }
  .image-divider {
    width: 100%
  }
  .right h3 {
    display: inline-inline-block;
    text-align: right;
  }
  .image-area {
    margin: 0;
    width: 50%;
  }
  .image-area img {
    margin: 0;
    width: 100%;
  }
  .image-area1 {
    display: inline;
    margin-top: 5px;
    height: auto;
    width: 50%;
    overflow: hidden;
  }
  .image-area1 img {

    margin: 10px auto;
    width: 55%;
    float: left;
  }
  .image-area2 {
    display: inline;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .image-area2 img {
    margin: 10px auto;
    width: 55%;
    float: right;
  }
  .projects h1 svg {
    width: 80px;
    height: 80px;
  }
  .project-text-box {
    display: inline;
    width: 50%;
    height: 30%;
  }
  .project-text-box1 {
    display: inline-inline-block;
    float: right;
    width: 40%;
    height: 30%;
    margin: 120px 10px 10px 10px;
    font-size: 2.6em;
  }
  .project-text-box2 {
    display: inline-inline-block;
    float: left;
    width: 40%;
    height: 30%;
    margin: 120px 10px 10px 80px;
    font-size: 2.6em;
  }
  .project-text-box3 {
    display: inline-block;
    width: 80%;
    height: 30%;
    margin: 100px 50px 50px 200px;
    font-size: 2.6em;
  }
  .project-text-box3 {
    text-align: center;
  }

  .project-text-box-content {
    padding: 0;
  }
  .project-text-box-content p {
    line-height: 1em;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .interests {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    font-size: 2em;
    background: url(Me_GrandCanyon.png);
    background-size: cover;
  }
  .interests h1 {
      margin-top: 0px;
      height: 75px;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 0.65;
      width: 100%;
  }
  .interests img {
    display: none;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    object-fit: fill;
  }
  .interests p {
    float: right;
    margin-top: 330px;
    margin-right: 2%;
    padding: 8px;
    width: 55%;
    height: 35%;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.4em;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    border-radius: 20px;
  }
  .interests svg {
    margin-top: 5px;
    height: 75px;
    width: auto;
  }
  .footer {
    font-size: 3em;
  }
  .footer-reach {
    margin-top: 20px auto;
    margin-bottom: 10px;
  }

  .social {
    width: 90%;
    margin: 20px auto;
    position: relative;
  }
  .footer-snapchat svg {
    width: 60px;
    height: 60px;
  }

  .footer-mail svg {
    width: 60px;
    height: 60px;
  }
  .footer-messenger svg {
    width: 60px;
    height: 60px;
  }
  .footer-instagram svg {
    width: 60px;
    height: 60px;
  }
  .footer-github svg {
    width: 60px;
    height: 60px;
  }
  .credit {

  }

  .username {
    display: block;
  }
}
